.checkbox{
  display: inline-flex;
  align-items: flex-start;
}
.checkbox__wrap{
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  flex-basis: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
}
.checkbox__inp{
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}
.checkbox__icon-wrap{
  border: 2px solid #2c3e50;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 0.1s linear;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  border-radius: 3px;
}
.checkbox__icon-wrap::before{
  content: "";
  position: absolute;
  background: #2c3e50;
  height: 2px;
  top: -2px;
  left: -1px;
  right: 0px;
  transition: all 0.1s linear;
}
.checkbox__icon-wrap::after{
  content: "";
  position: absolute;
  background: #2c3e50;
  width: 2px;
  top: 0px;
  bottom: -1px;
  right: -2px;
  transition: all 0.1s linear;
  border-radius: 3px;
}
.checkbox__icon{
  cursor: pointer;
  width: 16px;
  height: 12px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  opacity: 0;
  z-index: 1;
  transition: all 0.1s linear;
  color: transparent;
  pointer-events: none;
}
.checkbox__inp:checked + .checkbox__icon-wrap {
  border-right-color: transparent;
  border-top-color: transparent;
}
.checkbox__inp:checked + .checkbox__icon-wrap::before {
  right: 14%;
}
.checkbox__inp:checked + .checkbox__icon-wrap::after {
  top: 50%;
}
.checkbox__inp:checked + .checkbox__icon-wrap .checkbox__icon {
  opacity: 1;
  color: #2c3e50;
}