.todoItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 20px ;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}
.checked:before{
  content: '';
  height: 1px;
  position: absolute;
  left: 5px;
  right: 5px;
  background: red;
}
.todoItem__text{
  margin: 0;
  color: #2c3e50;
}