@import 'src/assets/variables/colors';
@import 'src/assets/variables/sizes';

.todoList {
  padding: 30px;
  border: 1px solid $grey;
  border-radius: $br;
  box-shadow: 0 0 10px $lightShadow;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

.todoList__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px;
  text-align-last: left;
}