
@import 'src/assets/variables/colors';

.input {
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid $grey;
  outline: none;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: $black;
}

.input:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}