@import 'src/assets/variables/colors';

.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
}

.app__inner {
  display: flex;
  max-width: 1200px;
  padding: 15px;
  margin: 60px auto 0;
}